html,
body {
  margin: 0 0 0 0;
}

canvas {
  display: block;
}

.submitUser {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  background-color: lightblue;
  outline: none;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.submitUser:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.inputUser {
  padding-left: 10px;
  border: 2px solid lightblue;
  border-radius: 4px;
  font-size: 20px;
  outline: none;
  transition-duration: 0.4s;
}

.inputUser:focus {
  border: 3px solid #555;
}
.inputUser:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.startGame {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  background-color: lightblue;
  outline: none;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.startGame:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
